interactions:
- request:
    body: null
    headers:
      authorization:
      - '[REDACTED]'
      x-ms-date:
      - Sat, 15 Aug 2026 08:35:07 GMT
      x-ms-documentdb-query-iscontinuationexpected:
      - 'False'
      x-ms-version:
      - '2020-07-15'
    method: GET
    uri: https://contract.documents.azure.com:443/
  response:
    body:
      string: '{"_self":"","id":"cosmos-pslc25991vme66zmins","_rid":"cosmos-pslc25991vme66zmins-eastus2.sql.cosmos.azure.com","media":"//media/","addresses":"//addresses/","_dbs":"//dbs/","writableLocations":[{"name":"East
        US 2","databaseAccountEndpoint":"https://cosmos-pslc25991vme66zmins-eastus2.documents.azure.com:443/"}],"readableLocations":[{"name":"East
        US 2","databaseAccountEndpoint":"https://cosmos-pslc25991vme66zmins-eastus2.documents.azure.com:443/"}],"enableMultipleWriteLocations":false,"continuousBackupEnabled":true,"enableNRegionSynchronousCommit":false,"enablePerPartitionFailoverBehavior":false,"disableCrossRegionalHedging":false,"userReplicationPolicy":{"asyncReplication":false,"minReplicaSetSize":3,"maxReplicasetSize":4},"userConsistencyPolicy":{"defaultConsistencyLevel":"Session"},"systemReplicationPolicy":{"minReplicaSetSize":3,"maxReplicasetSize":4},"readPolicy":{"primaryReadCoefficient":1,"secondaryReadCoefficient":1},"queryEngineConfiguration":"{\"allowNewKeywords\":true,\"maxJoinsPerSqlQuery\":10,\"maxQueryRequestTimeoutFraction\":0.9,\"maxSqlQueryInputLength\":524288,\"maxUdfRefPerSqlQuery\":10,\"queryMaxInMemorySortDocumentCount\":-1000,\"spatialMaxGeometryPointCount\":256,\"sqlAllowNonFiniteNumbers\":false,\"sqlDisableOptimizationFlags\":0,\"sqlQueryILDisableOptimizationFlags\":0,\"clientDisableOptimisticDirectExecution\":false,\"queryEnableFullText\":true,\"queryEnableFullTextPreviewFeatures\":false,\"queryMaxFullTextScoreSearchTerms\":30,\"queryMaxRrfArgumentCount\":100,\"enableSpatialIndexing\":true,\"maxInExpressionItemsCount\":2147483647,\"maxLogicalAndPerSqlQuery\":2147483647,\"maxLogicalOrPerSqlQuery\":2147483647,\"maxSpatialQueryCells\":2147483647,\"sqlAllowAggregateFunctions\":true,\"sqlAllowGroupByClause\":true,\"sqlAllowLike\":true,\"sqlAllowSubQuery\":true,\"sqlAllowScalarSubQuery\":true,\"sqlAllowTop\":true}"}'
    headers:
      Content-Location:
      - https://cosmos-pslc25991vme66zmins.documents.azure.com/
      Content-Type:
      - application/json
      x-ms-databaseaccount-consumed-mb:
      - '0'
      x-ms-databaseaccount-provisioned-mb:
      - '0'
      x-ms-databaseaccount-reserved-mb:
      - '0'
      x-ms-gatewayversion:
      - version=2.14.0
      x-ms-max-media-storage-usage-mb:
      - '0'
      x-ms-media-storage-usage-mb:
      - '0'
    status:
      code: 200
      message: Ok
- request:
    body: '{"query": "SELECT * FROM c WHERE c.team_id=@team_id AND c.data_type=@data_type",
      "parameters": [{"name": "@team_id", "value": "00000000-0000-0000-0000-000000000004"},
      {"name": "@data_type", "value": "team_config"}]}'
    headers:
      Content-Type:
      - application/query+json
      authorization:
      - '[REDACTED]'
      x-ms-cosmos-correlated-activityid:
      - 971e2c49-74bc-4fa6-be56-d7d3e0ce9c1a
      x-ms-date:
      - Sat, 15 Aug 2026 08:35:07 GMT
      x-ms-documentdb-isquery:
      - 'true'
      x-ms-documentdb-query-enablecrosspartition:
      - 'True'
      x-ms-documentdb-query-iscontinuationexpected:
      - 'False'
      x-ms-version:
      - '2020-07-15'
    method: POST
    uri: https://contract.documents.azure.com:443/dbs/macae/colls/memory/docs/
  response:
    body:
      string: '{"_rid":"Nv1qAObhPIY=","Documents":[{"id":"00000000-0000-0000-0000-000000000004","session_id":"fff83d1e-bd55-4e08-a95c-bfba715b1e22","team_id":"00000000-0000-0000-0000-000000000004","data_type":"team_config","user_id":"system","name":"RFP
        Team","status":"visible","description":"A specialized multi-agent team that
        analyzes RFP and contract documents to summarize content, identify potential
        risks, check compliance gaps, and provide action plans for contract improvement.","logo":"","plan":"","deployment_name":"gpt-4.1-mini","protected":false,"created":"2026-03-22T18:04:48.229309+00:00","created_by":"sync_agent_teams","agents":[{"input_key":"","type":"summary","name":"RfpSummaryAgent","deployment_name":"gpt-4.1-mini","icon":"","system_message":"You
        are the Summary Agent. Your role is to read and synthesize RFP or proposal
        documents into clear, structured executive summaries. Focus on key clauses,
        deliverables, evaluation criteria, pricing terms, timelines, and obligations.
        Organize your output into sections such as Overview, Key Clauses, Deliverables,
        Terms, and Notable Conditions. Highlight unique or high-impact items that
        other agents (Risk or Compliance) should review. Be concise, factual, and
        neutral in tone.","description":"Summarizes RFP and contract documents into
        structured, easy-to-understand overviews.","use_rag":true,"use_mcp":false,"use_bing":true,"use_reasoning":false,"index_name":"macae-rfp-summary-index","index_foundry_name":"","index_endpoint":"","coding_tools":true},{"input_key":"","type":"risk","name":"RfpRiskAgent","deployment_name":"gpt-4.1-mini","icon":"","system_message":"You
        are the Risk Agent. Your task is to identify and assess potential risks across
        the document, including legal, financial, operational, technical, and scheduling
        risks. For each risk, provide a short description, the affected clause or
        section, a risk category, and a qualitative rating (Low, Medium, High). Focus
        on material issues that c[...]
- request:
    body: '{"query": "SELECT * FROM c WHERE c.data_type=@data_type AND c.user_id=@user_id",
      "parameters": [{"name": "@data_type", "value": "user_current_team"}, {"name":
      "@user_id", "value": "dev-local-user-0000-0000-000000000001"}]}'
    headers:
      Content-Type:
      - application/query+json
      authorization:
      - '[REDACTED]'
      x-ms-cosmos-correlated-activityid:
      - de14c771-8fe3-45c4-ae09-e194f9c4f20e
      x-ms-date:
      - Sat, 15 Aug 2026 08:35:08 GMT
      x-ms-documentdb-isquery:
      - 'true'
      x-ms-documentdb-query-enablecrosspartition:
      - 'True'
      x-ms-documentdb-query-iscontinuationexpected:
      - 'False'
      x-ms-version:
      - '2020-07-15'
    method: POST
    uri: https://contract.documents.azure.com:443/dbs/macae/colls/memory/docs/
  response:
    body:
      string: '{"_rid":"Nv1qAObhPIY=","Documents":[{"id":"fc95b04c-ca18-40d7-893a-0516d30d721a","session_id":"4ab2a0d5-ed37-419a-a700-7ad4868f6f1c","tenant_id":"","timestamp":"2026-08-14T07:01:54.207472+00:00","data_type":"user_current_team","user_id":"dev-local-user-0000-0000-000000000001","team_id":"00000000-0000-0000-0000-000000000004","_rid":"Nv1qAObhPIbGCQAAAAAAAA==","_self":"dbs/Nv1qAA==/colls/Nv1qAObhPIY=/docs/Nv1qAObhPIbGCQAAAAAAAA==/","_etag":"\"01009bfe-0000-0200-0000-6a7ebd620000\"","_attachments":"attachments/","_ts":1786690914}],"_count":1}'
    headers:
      Content-Type:
      - application/json
      lsn:
      - '3967'
      x-ms-alt-content-path:
      - dbs/macae/colls/memory
      x-ms-content-path:
      - Nv1qAObhPIY=
      x-ms-cosmos-internal-partition-id:
      - a4663f92-9af0-4666-b63a-4c5383b71959
      x-ms-cosmos-is-partition-key-delete-pending:
      - 'false'
      x-ms-cosmos-llsn:
      - '3967'
      x-ms-cosmos-physical-partition-id:
      - '0'
      x-ms-cosmos-query-execution-info:
      - '{"reverseRidEnabled":false,"reverseIndexScan":false}'
      x-ms-documentdb-partitionkeyrangeid:
      - '0'
      x-ms-gatewayversion:
      - 2.0.0
      x-ms-global-Committed-lsn:
      - '3967'
      x-ms-item-count:
      - '1'
      x-ms-last-state-change-utc:
      - Fri, 14 Aug 2026 05:09:30.708 GMT
      x-ms-number-of-read-regions:
      - '0'
      x-ms-request-charge:
      - '2.92'
      x-ms-request-duration-ms:
      - '21.44'
      x-ms-resource-quota:
      - documentSize=51200;documentsSize=52428800;documentsCount=-1;collectionSize=52428800;
      x-ms-resource-usage:
      - documentSize=10;documentsSize=10676;documentsCount=1686;collectionSize=11120;
      x-ms-schemaversion:
      - '1.21'
      x-ms-serviceversion:
      - version=2.14.0.0
      x-ms-session-token:
      - 0:-1#3967
      x-ms-transport-request-id:
      - '1'
      x-ms-xp-role:
      - '1'
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://contract.services.ai.azure.com/api/projects/proj-pslc25991vme66zmins/agents?api-version=v1
  response:
    body:
      string: "{\n  \"data\": [\n    {\n      \"object\": \"agent\",\n      \"id\":
        \"ProxyAgent\",\n      \"name\": \"ProxyAgent\",\n      \"state\": \"enabled\",\n
        \     \"versions\": {\n        \"latest\": {\n          \"metadata\": {\n
        \           \"description\": \"\",\n            \"modified_at\": \"1786765962\",\n
        \           \"microsoft.voice-live.enabled\": \"true\",\n            \"microsoft.voice-live.configuration\":
        \"{\\\"chunked\\\":true,\\\"totalChunks\\\":2,\\\"totalLength\\\":560,\\\"version\\\":\\\"1.0\\\"}\",\n
        \           \"microsoft.voice-live.configuration.chunk_1\": \"{\\\"session\\\":{\\\"voice\\\":{\\\"name\\\":\\\"en-US-Ava:DragonHDLatestNeural\\\",\\\"type\\\":\\\"azure-standard\\\",\\\"temperature\\\":0.8,\\\"rate\\\":\\\"1\\\",\\\"isHdVoice\\\":true},\\\"inputAudioTranscription\\\":{\\\"model\\\":\\\"azure-speech\\\",\\\"language\\\":\\\"auto-detect\\\"},\\\"turnDetection\\\":{\\\"type\\\":\\\"azure_semantic_vad\\\",\\\"endOfUtteranceDetection\\\":null,\\\"removeFillerWords\\\":true},\\\"inputAudioNoiseReduction\\\":null,\\\"inputAudioEchoCancellation\\\":null,\\\"fillerResponse\\\":{\\\"type\\\":\\\"llm_filler\\\",\\\"latencyThresholdInMs\\\":500},\\\"avatar\\\":{\\\"character\\\":\\\"meg\\\",\\\"style\\\":\\\"formal\\\",\\\"customized\\\":\",\n
        \           \"microsoft.voice-live.configuration.chunk_2\": \"false,\\\"useBuiltInVoice\\\":false},\\\"proactiveEngagement\\\":false}}\"\n
        \         },\n          \"object\": \"agent.version\",\n          \"id\":
        \"ProxyAgent:274\",\n          \"name\": \"ProxyAgent\",\n          \"version\":
        \"274\",\n          \"description\": \"\",\n          \"created_at\": 1786765963,\n
        \         \"definition\": {\n            \"kind\": \"prompt\",\n            \"model\":
        \"gpt-4.1\",\n            \"instructions\": \"_MCP_AGENT_INSTRUCTIONS = (\\n
        \   \\\"Eres ProxyAgent del sistema MACAE en un entorno multi-agente para
        sistemas empresariales cr\xEDticos (ej. Work IQ Email, SharePoint, etc.).
        Tu misi\xF3n es ejecutar las siguientes acciones de manera aut\xF3noma bajo
        las reglas obligatorias:\\\\n\\\\n\\\"\\n    \\\"1. No inventes sesiones,
        servidores, registry ni tools.\\\\n\\\"\\n    '2. No digas \\\"consult\xE9\\\",
        \\\"valid\xE9\\\", \\\"intent\xE9\\\" o \\\"ejecut\xE9\\\" si no existe resultado
        real de tool. Nunca afirmes que ejecutaste una acci\xF3n si no recibiste resultado
        real de una tool. Si una tool requerida no fue llamada o fall\xF3, responde:
        \\\"No ejecutado\\\" + causa exacta + siguiente comando/tool necesaria.\\\\n'\\n
        \   \\\"3. Si el usuario pide listar servidores/tools:\\\\n\\\"\\n    \\\"
        \  - Primero llama la tool real disponible.\\\\n\\\"\\n    '   - Si no hay
        resultado, di \\\"No disponible\\\".\\\\n'\\n    \\\"4. Si el usuario pide
        filesystem:\\\\n\\\"\\n    \\\"   - Primero conecta filesystem por stdio.\\\\n\\\"\\n
        \   \\\"   - Luego descubre tools.\\\\n\\\"\\n    \\\"   - Luego ejecuta list_directory/read_file
        seg\xFAn aplique.\\\\n\\\"\\n    \\\"5. Si falta conexi\xF3n, no preguntes
        de nuevo si el usuario ya dio la orden. Ejecuta conexi\xF3n.\\\\n\\\"\\n    \\\"6.
        Respuesta t\xE9cnica m\xEDnima por fase ejecutada:\\\\n\\\"\\n    \\\"   -
        Acci\xF3n real ejecutada\\\\n\\\"\\n    \\\"   - Resul[...]
[...]
- request:
    body: null
    headers:
      authorization:
      - '[REDACTED]'
    method: GET
    uri: https://contract.services.ai.azure.com/api/projects/proj-pslc25991vme66zmins/agents?after=RfpRiskAgent&api-version=v1
  response:
    body:
      string: "{\n  \"data\": [\n    {\n      \"object\": \"agent\",\n      \"id\":
        \"RfpComplianceAgent\",\n      \"name\": \"RfpComplianceAgent\",\n      \"state\":
        \"enabled\",\n      \"versions\": {\n        \"latest\": {\n          \[...]
